<div class="row justify-content-center">
  <div class="col-lg-9 col-md-11 col-sm-10">
    <div class="middle-column1">
    <h6>APPLIED JOBS (0{{appliedJobs.length}})</h6>
  <h5>Lead Front End Developer - Bangalore</h5>
    <nav class="navbar navbar-expand-lg navbar-light cust-nav" style="display:flex;">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="assessments" routerLinkActive="active1">Assessments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="chatbot" routerLinkActive="active1">Chatbot Response</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="feedback" routerLinkActive="active1">Feedbacks</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="reminders" routerLinkActive="active1">Reminders</a>
            </li>
          </ul>
        </div>
      </nav>
<router-outlet></router-outlet>
</div>
  </div>
  <div class="col-lg-3 col-md-11 col-sm-10 column">
    <h6>JOB MATCH</h6>
    <h5>{{jobMatch.percentage}}%</h5>
    <div class="progress">
      <div class="progress-bar" [style.width.%]="progresswidth"></div>
    </div><br>
    <p>{{jobMatch.conclusion}}</p>
    <h6>CHANCE OF JOINING</h6>
    <div [class]="chance">
      <div class="chance-left">
        <h5>{{joiningChance.chance}}</h5>
        <p>{{joiningChance.exp}}</p>
      </div>
      <img [src]="high" *ngIf="joiningChance.chance=='High'" alt="" style="width:100px ; height:100px;">
      <img [src]="low" *ngIf="joiningChance.chance=='Low'" alt="" style="width:100px ; height:100px;">
    </div><br>
    <div class="comments">
      <div class="comments-head">
        <h6 style="float: left;">COMMENTS (0{{commentInd}})</h6>
        <h4><fa-icon class="icon2" [icon]="faPlus"></fa-icon> Add comment</h4>
      </div><br>
      <div *ngFor="let i of comments; let ind=index">
        <div *ngIf="ind<3" class="panel">
          <div class="comment-name">
            <div class="avatar"><img src="{{i.avatar}}" alt=""></div>
            <div class="name">
                <h6>{{i.name}}</h6>
            </div>
        </div><br>
        </div>
        <div class="comment" *ngIf="ind<commentInd">
          <p>{{i.comment}}</p>
        </div>
        <div class="time"*ngIf="ind<3" style="float: right;"><p>{{i.createdAt | date}}</p> </div><br>
      </div>

    </div>
    
  </div>
</div>

