  <h6>APPLIED JOBS (0{{appliedJobs.length}})</h6>
  <h5>Lead Front End Developer - Bangalore</h5>
    <nav class="navbar navbar-expand-lg navbar-light cust-nav" style="display:flex;">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="assessments" routerLinkActive="active1">Assessments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="chatbot" routerLinkActive="active1">Chatbot Response</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="feedback">Feedbacks</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="reminders">Reminders</a>
            </li>
          </ul>
        </div>
      </nav>
<router-outlet></router-outlet>
