<div class="row justify-content-center">
  <div class="col-lg-9 col-md-10 col-sm-10">
    <div class="middle-column1">
      <div class="headline">
        <h5 id="head-left">Work experience</h5>
        <p id="head-right">View Resume <a title="Edit Profile" data-toggle="modal" data-target="#modalUpdateForm"><fa-icon [icon]="faPen"></fa-icon></a></p>
      </div>
      <p id="exp-head">8 years of relevant experience</p><br>
        <div class="experience" *ngFor="let i of experience; let ind=index">
          <img src="{{i.logo}}" width="75px" height="75px" alt="">
          <div class="experience-details">
            <h5>{{i.designation}}</h5>
            <h6>{{i.company}}</h6>
            <p>{{i.from |date}} to {{i.to |date}}</p>
            <p>{{i.location}}</p>
            <hr *ngIf="ind<explength-1">
          </div>
          
        </div>
    </div>
    <div class="middle-column1" style="margin:0px;">
      <div class="headline">
        <h5 id="head-left">Education</h5>
      </div>
      <br><br>
        <div class="experience" *ngFor="let i of education; let ind=index">
          <img src="{{i.logo}}" width="75px" height="75px" alt="">
          <div class="experience-details" style="width: 70%;">
            <h5>{{i.college}}</h5>
            <h6>{{i.course}}</h6>
            <p>{{i.from |date}} to {{i.to |date}}</p>
            <p>{{i.location}}</p>
            <hr *ngIf="ind<explength-1">
          </div>
          <div class="block-right">
            <div class="percentage">{{marks[ind]}}</div>
            <small>percentage</small>
          </div>
          
          
        </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-10 col-sm-10 column">
    <h6>RECOMMENDED JOBS (0{{recommendedJobsLength}})</h6><br>
    <div class="recom-jobs" *ngFor="let i of recommended_jobs; let ind=index">
      <p id="job">{{i.job_name}}</p>
      <p id="match">{{jobMatch[ind]}}% match</p>
    </div>
    <hr>

    <h6>JOBS HISTORY (0{{jobsHistoryLength}})</h6><br>
    <div class="recom-jobs" *ngFor="let i of jobsHistory; let ind=index">
      <p id="job">{{i.job_name}}</p>
      <p id="match" *ngIf="i.status=='In Progress'">{{i.status}}</p>
      <p id="matchRej" *ngIf="i.status=='Rejected'">{{i.status}}</p>
    </div>
    <hr>
  </div>
</div>

<!-- EDIT PROFILE -->

<div class="modal fade" id="modalUpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-200 font-weight-bold">Edit Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Default form register -->
<form class="text-left border border-light p-4" (ngSubmit)="updateProfile()">
<div class="row">
  <div class="col-6">
      <label for="firstname">First Name</label><br>
      <input type="text" id="firstname" name="firstname" placeholder="Enter here" #firstname="ngModel" [(ngModel)]="updateform.firstname" pattern="^[a-zA-Z ]{4,32}"><br>
      <small style="color: red;" *ngIf="firstname.touched && firstname.invalid">Invalid title!</small>
                <small style="color: green;" *ngIf="firstname.touched && firstname.valid">Valid!</small>
  </div>
  <div class="col-6">
    <label for="lastname">Last Name</label><br>
    <input type="text" id="lastname" name="lastname"placeholder="Enter here" [(ngModel)]="updateform.lastname" #lastname="ngModel" pattern="^[a-zA-Z ]{4,32}"><br>
    <small style="color: red;" *ngIf="lastname.touched && lastname.invalid">Invalid title!</small>
                <small style="color: green;" *ngIf="lastname.touched && lastname.valid">Valid!</small>
  </div>
</div><br>
<div class="row">
  <div class="col-6">
      <label for="phone">Phone</label><br>
      <input type="text" id="phone" name="phone" placeholder="Enter here" [(ngModel)]="updateform.phone" #phone="ngModel">    <br>
  </div>
  <div class="col-6">
    <label for="mailid">Email</label><br>
    <input type="email" id="mailid" name="mailid" placeholder="Enter here" [(ngModel)]="updateform.mailid" #mailid="ngModel"><br>
    
  </div>
</div><br>
<div class="row">
  <div class="col-6">
    <label for="gender" style="padding-right: 40px;" >Gender</label><br>
    <select id="gender"name="gender" [(ngModel)]="updateform.gender" #gender="ngModel">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select><br><br> 
  </div>
  <div class="col-6">
    <label for="exper">Years of experience</label><br>
    <input type="text" id="exper" name="exper"placeholder="Enter here" [(ngModel)]="updateform.exper" #exper="ngModel"><br>
    
  </div>
</div><br>
<div class="row address">
    <label for="address">Address</label><br>
    <textarea type="text" id="address" name="address"placeholder="Enter here" [(ngModel)]="updateform.address" #address="ngModel"></textarea><br>
    
</div>


  <!-- Sign up button -->
  <button class="btn btn-info my-4 update-btn" type="submit">Update</button>
</form>
    </div>
  </div>
</div>
