<div class="container1" >
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-11 col-sm-10" >
            <div class="column1">
                <div  *ngFor="let i of candidateData">
                    <div class="basicdata">
                        <img class="avatar1"src="{{i.avatar}}" alt="">
                    </div><br>
                    <div class="basicdata">
                        <h5>{{i.first_name}} {{i.last_name}}</h5>
                    </div>
                    <div class="basicdata">
                        <div class="contact-btn">
                            <fa-icon [icon]="faPhoneVolume"></fa-icon>
                        </div>
                        <div class="contact-btn">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </div>
                    </div>
                <hr>
                <div class="contact-details">
                    <p><fa-icon class="icon2" [icon]="faPhone"></fa-icon> +91 {{i.phone_number}}</p>
                    <p><fa-icon class="icon2"[icon]="faEnvelope"></fa-icon>{{i.email.toLowerCase()}}</p>
                    <p><fa-icon class="icon2"[icon]="faLocationDot"></fa-icon>{{i.location}}</p>
                </div>
                </div>
            </div>
            
            <div class="column2">
                <div class="section">
                   <a routerLink="middle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Applied Jobs (0{{appliedJobs.length}})</a>
                </div>    
                <hr>
                <div class="section">
                    <a  routerLink="sideprofile" routerLinkActive="active">Profile</a>
                 </div>    
                 <hr>
                 <div class="section">
                    <a routerLink="documents" routerLinkActive="active">Documents</a>
                 </div>    
            </div>
            <div class="column3"><br>
                <div class="missing">
                   <h6> Missing details</h6>
                   <p>We are still missing some details about {{candidateData[0].first_name}} {{candidateData[0].last_name}}. would you like to initiate a chatbot to collect the missing data?</p>
                   <button class="chatbotbtn"type="button">Initiate Chatbot</button><br><br>
                </div>      
            </div>
        </div>
        <div class="col-lg-9 col-md-11 col-sm-10">
            <!-- <div class="middle-column1"> -->
                <!-- <app-middle-section></app-middle-section> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
            
        </div>
        <!-- <div class="col-lg-3 col-md-10 col-sm-10 column">
            sdfsdfsdfsdf
        </div> -->
    </div>
</div>